{% extends 'base.html' %}

{% block start %}
<div class="container" style="padding: 10% 0;">
    <form method="post">
        {% csrf_token %}
{% include 'messages.html' %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="text" name="username" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" required class="form-control" id="exampleInputPassword1">
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
        <span style="color:blue; cursor: pointer;" onclick="window.location.href='/login/'" >Already have an account</span>

      </form>
</div>
{% endblock  %}
